Babel==2.2.0
blinker==1.4
datadiff==2.0.0
dominate==2.1.17
eventlet==0.18.4
Flask==0.10.1
Flask-And-Redis==0.6
Flask-Babel==0.9
Flask-Bootstrap==3.3.5.7
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
flask-paginate==0.4.1
Flask-SocketIO==2.1
Flask-WTF==0.12
fuzzywuzzy==0.8.2
greenlet==0.4.9
humanize==0.5.1
Humanize-Flask==0.2.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.5.0
MarkupSafe==0.23
orcid==0.5.1
pyisbn==1.0.1
python-dateutil==2.5.0
python-engineio==0.8.8
python-Levenshtein==0.12.0
python-socketio==1.0
pytz==2015.7
redis==2.10.5
requests==2.9.1
simplejson==3.8.2
six==1.10.0
speaklater==1.3
urllib3==1.14
uWSGI==2.0.12
visitor==0.1.2
Werkzeug==0.11.4
wheel==0.38.1
WTForms==2.1
WTForms-JSON==0.2.10
