Babel==2.1.1
blinker==1.4
dominate==2.1.16
Flask==0.10.1
Flask-And-Redis==0.6
Flask-Babel==0.9
Flask-Bootstrap==3.3.5.7
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
flask-paginate==0.4.1
Flask-WTF==0.12
humanize==0.5.1
Humanize-Flask==0.1.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.5.0
MarkupSafe==0.23
orcid==0.5.1
python-dateutil==2.4.2
pytz==2015.7
redis==2.10.5
requests==2.8.1
simplejson==3.8.1
six==1.10.0
speaklater==1.3
urllib3==1.12
uWSGI==2.0.11.2
visitor==0.1.2
Werkzeug==0.11.2
wheel==0.26.0
WTForms==2.0.2
WTForms-JSON==0.2.10
