<div class="form-group">
    {{ form.keyword.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
        {{ form.keyword(class='form-control',placeholder='Words that describe the resource') }}
    </div>
    <div class="clearfix"></div>
    {{ form.keyword_uri.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
        {{ form.keyword_uri(class='form-control',placeholder='Authority URI for the keyword') }}
    </div>
    <div class="col-sm-3">
        <span class="dbpedia"><small>&nbsp;<a target="_blank" href="http://dbpedia.org/fct/">DBPedia</a></small></span>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-offset-2">
        <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
    </div>
</div>