{% for person in form.person %}<div class="form-group">
    {{ person.form.name.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
        {{ person.form.name(class='form-control',placeholder='Family name, given name') }}
    </div>
    <div class="clearfix"></div>
    {{ person.form.role.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
        {{ person.form.role(class='form-control') }}
    </div>
    <div class="clearfix"></div>
    {{ person.form.uri.label(class='col-sm-2 control-label') }}
    <div class="col-sm-6">
        {{ person.form.uri(class='form-control',placeholder='Authority URI for the person') }}
    </div>
    <div class="col-sm-3">
        <span class="dbpedia"><small>&nbsp;<a target="_blank" href="http://dbpedia.org/fct/">DBPedia</a>&nbsp;|&nbsp;<a
                target="_blank" href="http://viaf.org">VIAF</a></small></span>
    </div>
    {% block birth_death %}{% endblock %}
    <div class="clearfix"></div>
    <div class="col-sm-offset-2">
        <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
    </div>
</div>{% endfor %}