{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h3>{{ _('Unauthorized') }}</h3>
                <p class="alert alert-danger">{{ _("The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.") }}</p>
                <p>{{ _('Please') }} <a href="{{ url_for('login', next=request.path) }}"><i class="fa fa-sign-in"></i> {{ _('Sign In') }}</a></p>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}