<div class="row">
    <div class="col-sm-12"><h3>{{ _('Admin Actions') }}</h3>
        <div class="btn-group">
            <div class="btn-group">
                <a href="{{ url_for('export_solr_dump') }}" type="button" class="btn btn-default"><i class="fa fa-cloud-download"></i> {{ _('Export Index') }}</a>
                {% if header != 'Import Dump' %}<a href="{{ url_for('import_solr_dumps') }}" type="button" class="btn btn-default"><i class="fa fa-cloud-upload"></i> {{ _('Import Index') }}</a>{% endif %}
            </div>
        </div>
    </div>
</div>