<div class="row">
    <div class="col-sm-12"><h3>{{ _('Admin Actions') }}</h3>

        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-eye"></i> {{ _('Views') }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('persons') }}"><i class="fa fa-users"></i> {{ _('Persons') }}</a></li>
                    <li><a href="/organisations"><i class="fa fa-university"></i> {{ _('Organisations') }}</a></li>
                    <li class="disabled"><a href="/containers"><i class="octicon octicon-package"></i> {{ _('Containers') }}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('duplicates') }}"><i class="fa fa-clone"></i> {{ _('Duplicates') }}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-plus"></i> {{ _('Register') }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="disabled"><a href="/create/from_identifiers" disabled="disabled"><i
                            class="fa fa-barcode"></i> {{ _('IDs') }}</a></li>
                    <li class="disabled"><a href="/create/publication" disabled="disabled"><i
                            class="fa fa-keyboard-o"></i> {{ _("Manually") }}</a></li>
                    <li><a href="{{ url_for('file_upload') }}"><i class="fa fa-cloud-upload"></i> {{ _('Upload') }}</a>
                    </li>
                    <li class="disabled"><a href="/create/from_search" disabled="disabled"><i
                            class="fa fa-search-plus"></i> {{ _('Search') }}</a></li>
                </ul>
            </div>
            <a href="/consolidate/persons" type="button" class="btn btn-default"><i class="fa fa-users"></i> {{ _('Consolidate Persons') }}</a>
        </div>
    </div>
</div>