{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-sm-offset-2">
            <form class="form form-horizontal" method="post" role="form" action="/new/{{ form.id }}">
                {{ form.csrf_token }}
            <div class="form-group">
                {{ form.title.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.title(class='form-control',placeholder='The title of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.person.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.person(class='form-control',placeholder='Family name, given name') }}
                </div>
                <div class="clearfix"></div>
                {{ form.role.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.role(class='form-control') }}
                </div>
                <div class="clearfix"></div>
                {{ form.person_uri.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.person_uri(class='form-control',placeholder='Authority URI for the Person') }}
                </div>
                <div class="col-sm-3">
                    <span class="dbpedia"><small>&nbsp;<a target="_blank" href="http://dbpedia.org/fct/">DBPedia</a>&nbsp;|&nbsp;<a target="_blank" href="http://viaf.org">VIAF</a></small></span>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.issued.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.issued(class='form-control',placeholder='YYYY-MM-DD') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.language.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.language(class='form-control',placeholder='Language of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.page_first.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.page_first(class='form-control',placeholder='p.') }}
                </div>
                {{ form.page_last.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.page_last(class='form-control',placeholder='p.') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.keyword.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.keyword(class='form-control',placeholder='Words that describe the resource') }}
                </div>
                <div class="clearfix"></div>
                {{ form.keyword_uri.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.keyword_uri(class='form-control',placeholder='Authority URI for the Keyword') }}
                </div>
                <div class="col-sm-3">
                    <span class="dbpedia"><small>&nbsp;<a target="_blank" href="http://dbpedia.org/fct/">DBPedia</a></small></span>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.description.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.description(class='form-control',placeholder='An Abstract of the Article') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.DOI.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.DOI(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.url.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.url(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.accessed.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.accessed(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.container_title.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.container_title(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.volume.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.volume(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.number.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.number(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.ISSN.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.ISSN(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.ZDBID.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.ZDBID(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.publisher.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.publisher(class='form-control') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.note.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.note(class='form-control',placeholder='Further information...') }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 pull-right">
                    <button type="reset" class="btn btn-danger">Clear</button>
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </div>
            </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).on('click', '.add-element', function (event) {
            event.preventDefault();
            var next = $(this).closest('.form-group').clone().insertAfter($(this).closest('.form-group'));
            //next.attr('class', 'form-group');
            next.find('input').val('');
            $(this).remove();
        })
        /*$(document).on('click', '.submit', function(event){
         event.preventDefault();
         console.info(JSON.stringify($(this).closest('form').serializeArray()));
         })*/
    </script>
{% endblock %}