{% extends 'site_base.html' %}
{% block site_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}"/>
{% endblock %}
{% block site_content %}
    {{ super() }}
    {% include 'confirm_delete_modal.html' %}
    <p>{% include 'admin_nav.html' %}</p>
        {#<div class="row">
        <div id="map"></div>
        </div>#}
        <div class="row">
            <div class="col-sm-4">
                {% include 'remove_filters.html' %}
                {% include 'hoe_facets.html' %}
            </div>
            <div class="col-sm-8">
                <h4>{{ pagination.info }}</h4>
                {{ pagination.links }}
                <table class="table table-bordered">
                    {% for record in records %}
                        <tr>
                            <th scope="row">{{ loop.index + offset }}</th>
                            <td>{% include 'resultlist_record.html' %}</td>
                            <td class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="action{{ loop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog"></i> Action <span class="fa fa-caret-down"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="action{{ loop.index }}">
                                    <li><a href="{{ url_for('show_record', pubtype=record.pubtype, record_id=record.id) }}"><i class="fa fa-eye"></i> View</a></li>
                                    <li><a href="{{ url_for('edit_record', record_id=record.id, pubtype=record.pubtype) }}"><i class="fa fa-pencil"></i> Edit</a></li>
                                    {% if current_user.role == 'admin' %}<li class="bg-danger"><a href="#" data-href="{{ url_for('delete_record', record_id=record.id) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i> {{ _('Delete') }}</a></li>{% endif %}
                                    <li class="divider" role="separator"></li>
                                    <li class="dropdown-header"><i class="fa fa-plus"></i> {{ _('Add') }}</li>
                                    <li class="disabled"><a href="{{ url_for('add_file', record_id=record.id) }}" disabled="disabled">{{ _('File') }}</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ pagination.links }}
            </div>
        </div>
{% endblock %}
{% block site_scripts %}
    <script>
        function page_reload(){
            setTimeout(function(){
                        document.location = '/{{ del_redirect }}';
                        }, 1000);
        }
        $('#confirm-delete').on('show.bs.modal', function(event) {
            $(this).find('.btn-ok').attr('href', $(event.relatedTarget).data('href'));
        });
        $(document).on('click', '.btn-ok', function(event){
            event.preventDefault();
            $.get($('.btn-ok').attr('href'), function(data){
                if(data.deleted == true){
                    page_reload();
                }
            });
        });
        $(document).on('click', '.rel_item', function(event){
            event.preventDefault();
            $(this).siblings('.hidden').toggleClass('hidden show_ri');
            $(this).replaceWith('<a href="#" class="no_rel_item"><i class="fa fa-minus-square-o"></i> {{ _("Hide Related Items") }}</a>');
        });
        $(document).on('click', '.no_rel_item', function(event){
            event.preventDefault();
            $(this).siblings('.show_ri').toggleClass('hidden show_ri');
            $(this).replaceWith('<a href="#" class="rel_item"><i class="fa fa-plus-square-o"></i> {{ _("Show Related Items") }}</a>');
        });
    </script>
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <script>
        var map = L.map('map').setView([48.7, 20.2], 3);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'ahagenbruch.p072ck6j',
            accessToken: 'pk.eyJ1IjoiYWhhZ2VuYnJ1Y2giLCJhIjoiY2lqdnY1cHB2MGMxMnc4bTNnczkxNW1kNCJ9.kfslXFi1i7n_xPCXQ5lsHA'
        }).addTo(map);
        {% for lib_facet in libraries %}
            {% if lib_facet.library.latitude and lib_facet.library.longitude %}
            L.marker([{{ lib_facet.library.latitude }}, {{ lib_facet.library.longitude }}]).addTo(map)
            .bindPopup('<a href="{{ lib_facet.library.uri }}">{{ lib_facet.library.label }}</a>.<br><a href="/search?q={{ query|urlencode }}&amp;filter=flibrary:%22{{ lib_facet.library.label|urlencode }}%22{% if filterquery %}{% for fq in filterquery %}&amp;filter={{ fq }}{% endfor %}{% endif %}{% if mysort %}&amp;sort={{ mysort }}{% endif %}">{{ _("Show all %(count)s records", count=flibraries.get(lib_facet.library.label)) }}</a>');
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}