{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-sm-offset-2">
            <form class="form form-horizontal" method="post" role="form" action="/new/{{ form.id }}">
                {{ form.csrf_token }}
            <div class="form-group">
                {{ form.title.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.title(class='form-control',placeholder='The title of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.subtitle.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.subtitle(class='form-control',placeholder='The subtitle of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.translated_title.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.translated_title(class='form-control',placeholder='The translated title of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.person.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.person(class='form-control',placeholder='Family name, given name') }}
                </div>
                <div class="clearfix"></div>
                {{ form.role.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.role(class='form-control') }}
                </div>
                <div class="clearfix"></div>
                {{ form.person_uri.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.person_uri(class='form-control',placeholder='Authority URI for the person') }}
                </div>
                <div class="col-sm-3">
                    <span class="dbpedia"><small>&nbsp;<a target="_blank" href="http://dbpedia.org/fct/">DBPedia</a>&nbsp;|&nbsp;<a target="_blank" href="http://viaf.org">VIAF</a></small></span>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.corporation.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.corporation(class='form-control',placeholder='The corporation associated with the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.issued.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.issued(class='form-control',placeholder='YYYY-MM-DD') }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2"><div class="checkbox">
                    <label class="checkbox-inline">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.circa(type='checkbox') }} {{ form.circa.label }}
                    </label>
                </div></div>
            </div>
            <div class="form-group">
                {{ form.publisher.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.publisher(class='form-control',placeholder='The publisher of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.publisher_place.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.publisher_place(class='form-control',placeholder='The place of publication') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.number_of_volumes.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.number_of_volumes(class='form-control',placeholder='The number of volumes, e.g. 2') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.edition.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.edition(class='form-control',placeholder='The edition of the work') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.series_title.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.series_title(class='form-control',placeholder='The series the work was published in') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.volume_in_series.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.volume_in_series(class='form-control',placeholder='The volume in the series, e.g. 180') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.language.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.language(class='form-control',placeholder='Language of the work') }}
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.number_of_pages.label(class='col-sm-2 control-label') }}
                <div class="col-sm-2">
                    {{ form.number_of_pages(class='form-control',placeholder='Number of pages') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.keyword.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.keyword(class='form-control',placeholder='Words that describe the resource') }}
                </div>
                <div class="clearfix"></div>
                {{ form.keyword_uri.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.keyword_uri(class='form-control',placeholder='Authority URI for the Keyword') }}
                </div>
                <div class="col-sm-3">
                    <span class="dbpedia"><small>&nbsp;<a target="_blank" href="http://dbpedia.org/fct/">DBPedia</a></small></span>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.description.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.description(class='form-control',placeholder='What the work is about') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.isbn.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.isbn(class='form-control',placeholder='Enter the ISBN (10 or 13-digit number)') }}
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.url.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.url(class='form-control', placeholder='Enter the full path to the document') }}
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2">
                    <a href="#" class="btn btn-xs add-element">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i> Add another</a>
                </div>
            </div>
            <div class="form-group">
                {{ form.DOI.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.DOI(class='form-control',placeholder='A Digital Object Identifier, e.g. 10.1105/tpc.12.7.1041') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.accessed.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.accessed(class='form-control', placeholder='YYYY-MM-DD') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.note.label(class='col-sm-2 control-label') }}
                <div class="col-sm-6">
                    {{ form.note(class='form-control',placeholder='Further information...') }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 pull-right">
                    <button type="reset" class="btn btn-danger">Clear</button>
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </div>
            </form></div>
            {#<div class="btn-group col-sm-offset-3">
                <a type="button" class="btn btn-default" href="/new/{{ form.id }}/edition"><i class="fa fa-plus"></i> Add an edition</a>
                <a type="button" class="btn btn-default" href="/new/{{ form.id }}/translation"><i class="fa fa-plus"></i> Add a translation</a>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-plus"></i> Add secondary literature <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="/new/{{ form.id }}/article">Article</a></li>
                      <li><a href="/new/{{ form.id }}/monograph">Monograph</a></li>
                        <li><a href="/new/{{ form.id }}/contribution">Contribution in Collection</a></li>
                        <li><a href="/new/{{ form.id }}/conference">Conference Paper</a></li>
                    </ul>
                  </div>
            </div>#}
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).on('click', '.add-element', function (event) {
            event.preventDefault();
            var next = $(this).closest('.form-group').clone().insertAfter($(this).closest('.form-group'));
            //next.attr('class', 'form-group');
            next.find('input').val('');
            $(this).remove();
        })
        /*$(document).on('click', '.submit', function(event){
         event.preventDefault();
         console.info(JSON.stringify($(this).closest('form').serializeArray()));
         })*/
    </script>
{% endblock %}