{% extends 'site_base.html' %}
{% import 'bootstrap_macros.html' as bootstrap %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone/dropzone.css') }}">
{% endblock %}

{% block site_content %}
        <div class="row">
            <div class="col-sm-offset-4 col-sm-3">
                <form action="{{ url_for('file_upload') }}" class="dropzone text-center" enctype="multipart/form-data" id="myDropzone">{{ form.csrf_token }}</form>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    <script>
        function redirect_homepage(){
            setTimeout(function(){
                            document.location = '/';
                        }, 1000);
        }
        Dropzone.options.myDropzone = {
            maxFileSize: 5,
            dictDefaultMessage: '<i class="fa fa-cloud-upload fa-5x"></i><br/>{{ _('Drop files here or click to upload') }}',
            'success': function(){
                //document.location = '/';
                $('#myDropzone').parent().attr("style", "");
                $('#myDropzone').replaceWith('<p class="alert alert-success">{{ _("Thank you for your data! We will now process it and add it to the bibliography.") }}</p>')
            }
        }
    </script>
{% endblock %}