<header class="main">
    <p>
        <span class="pull-left">
            <a href="https://www.rub.de" title="Ruhr-Universität Bochum">
                <img src="{{ url_for('static', filename='site/img/rub_script.svg') }}" id="rub-wortmarke"
                     alt="RUB-Wortmarke"/>
            </a>
        </span>
        <span class="pull-right">
            <span class="header-nav"><a href="http://www.rub.de">startseite</a> | <a
                    href="http://www.rub.de/uebersicht/">übersicht</a> | <a
                    href="http://www.rub.de/suche/">suche</a> | <a href="http://www.rub.de/a-z/">a-z</a></span>
            <a href="https://www.rub.de" title="Ruhr-Universität Bochum">
                <img src="{{ url_for('static', filename='site/img/rub-logo.svg') }}" id="rub-label" alt="RUB-Label"/>
            </a>
        </span>
    </p>
    <h1>Historiography of the Ottoman Empire</h1>
    <h2>{{ header }}</h2>
</header>