<header class="main">
    <p>
        <span class="pull-left">
            <a href="https://www.rub.de" title="Ruhr-Universität Bochum">
                <img src="{{ url_for('static', filename='site/img/rub_script.svg') }}" id="rub-wortmarke"
                     alt="RUB-Wortmarke"/>
            </a>
        </span>
        <span class="pull-right">
            <span class="header-nav"><a href="http://www.rub.de">startseite</a> | <a
                    href="http://www.rub.de/uebersicht/">übersicht</a> | <a
                    href="http://www.rub.de/suche/">suche</a> | <a href="http://www.rub.de/a-z/">a-z</a></span>
            <a href="https://www.rub.de" title="Ruhr-Universität Bochum">
                <img src="{{ url_for('static', filename='site/img/rub-logo.svg') }}" id="rub-label" alt="RUB-Label"/>
            </a>
            <br/>
            {% if current_user.is_authenticated %}<i class="fa fa-user"></i> {{ current_user.name }} <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i></a>{% else %}{% if header != 'Sign In' %}<a href="{{ url_for('login', next=request.url_rule.endpoint) }}"><i class="fa fa-sign-in"></i> {{ _('Sign In') }}</a>{% endif %}{% endif %}
        </span>
    </p>
    <h1><img src="/static/site/img/dromedary.svg" height="48px"> <span style="vertical-align: -45%;">{{ _('Historiography of the Ottoman Empire') }}</span></h1>
    <h2>{{ header }}</h2>
</header>