{% import 'drill_down.html' as drill_down with context %}
<h4 id="lib_filter">{{ _('Library') }}</h4>
<div id="map"></div>
{{ drill_down.facets(facet_data.fperson, 'fperson', heading=_('Person'), target=target) }}
{{ drill_down.facets(facet_data.fkeyword, 'fkeyword', heading=_('Keyword'), target=target) }}
{{ drill_down.facets(facet_data.language, 'language', heading=_('Language'), target=target) }}
{{ drill_down.facets(facet_data.issued_primary, 'issued_primary', heading=_('Primary Publication Century'), target=target) }}
{{ drill_down.facets(facet_data.issued_secondary, 'issued_secondary', heading=_('Secondary Publication Year'), target=target) }}
{{ drill_down.facets(facet_data.fpubtype, 'fpubtype', heading=_('Publication Type'), target=target) }}
{{ drill_down.facets(facet_data.subtype, 'subtype', heading=_('Publication Subtype'), target=target) }}
{{ drill_down.facets(facet_data.genre, 'genre', heading=_('Genre'), target=target) }}
{{ drill_down.facets(facet_data.source_class, 'source_class', heading=_('Source Class'), target=target) }}