{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-sm-offset-2">
            <form class="form form-horizontal" method="post" role="form" action="/new/{{ form.id }}">
                {% include 'form_components/title.html' %}
                {% include 'form_components/subtitle.html' %}
                {% include 'form_components/translated_title.html' %}
                {% include 'form_components/journalAbbreviation.html' %}
                {% include 'form_components/person.html' %}
                {% include 'form_components/publisher.html' %}
                {% include 'form_components/publisher_place.html' %}
                {% include 'form_components/issued.html' %}
                {% include 'form_components/language.html' %}
                {% include 'form_components/ISSN.html' %}
                {% include 'form_components/URL.html' %}
                {% include 'form_components/note.html' %}
            <div class="form-group">
                <div class="col-sm-6 pull-right">
                    <button type="reset" class="btn btn-danger">Clear</button>
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </div>
            </form></div>
            {#<div class="btn-group col-sm-offset-3">
                <a type="button" class="btn btn-default" href="/new/{{ form.id }}/edition"><i class="fa fa-plus"></i> Add an edition</a>
                <a type="button" class="btn btn-default" href="/new/{{ form.id }}/translation"><i class="fa fa-plus"></i> Add a translation</a>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-plus"></i> Add secondary literature <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="/new/{{ form.id }}/article">Article</a></li>
                      <li><a href="/new/{{ form.id }}/monograph">Monograph</a></li>
                        <li><a href="/new/{{ form.id }}/contribution">Contribution in Collection</a></li>
                        <li><a href="/new/{{ form.id }}/conference">Conference Paper</a></li>
                    </ul>
                  </div>
            </div>#}
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).on('click', '.add-element', function (event) {
            event.preventDefault();
            var next = $(this).closest('.form-group').clone().insertAfter($(this).closest('.form-group'));
            //next.attr('class', 'form-group');
            next.find('input').val('');
            $(this).remove();
        })
        /*$(document).on('click', '.submit', function(event){
         event.preventDefault();
         console.info(JSON.stringify($(this).closest('form').serializeArray()));
         })*/
    </script>
{% endblock %}