<nav role="navigation" class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li{% if header == 'Project Description' %} class="active"{% endif %}><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="divider"></li>
        <li{% if header == 'Dashboard' %} class="active"{% endif %}><a href="/records"><i class="fa fa-list"></i> Dashboard</a></li>
        <li class="divider"></li>
        <li{% if header == 'New Record' %} class="active"{% endif %}><a href="/new"><i class="fa fa-plus"></i> New Record</a></li>
        <li class="divider"></li>
    </ul>
    <div class="navbar-right{% if header == query %} search_form_active{% endif %}">
        <form class="navbar-form" role="search" action="/search" method="get">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Go</button>
        </form>
{#        <ul class="nav navbar-nav"><li>{% if current_user.is_authenticated %}<a href="/logout"><i class="fa fa-sign-out"></i> {{ current_user.name }}</a>{% else %}<a href="/login"><i class="fa fa-sign-in"></i> Login</a>{% endif %}</li></ul>#}
    </div>

</nav>