{% import 'bootstrap/utils.html' as utils %}
<nav role="navigation" class="collapse navbar-collapse navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li{% if header == 'Home' %} class="active"{% endif %}><a href="/"><i class="fa fa-home"></i> {{ _('Home') }}</a></li>
        <li class="divider"></li>
        {% if current_user.role == 'admin' %}
        <li{% if header == 'Dashboard' %} class="active"{% endif %}><a href="{{ url_for('dashboard') }}"><i class="fa fa-list"></i> {{ _('Dashboard') }}</a></li>
        <li class="divider"></li>
        {% endif %}
        <li class="dropdown{% if header == 'New Record' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i> {{ _('New') }}</a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('new_record', pubtype='Codex') }}">{{ _('Codex') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='CodexChapter') }}">{{ _('Chapter in Codex') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Print') }}">{{ _('Print') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='PrintChapter') }}">{{ _('Chapter in Print') }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('new_record', pubtype='Catalogue') }}">{{ _('Catalogue') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Edition') }}">{{ _('Edition') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Translation') }}">{{ _('Translation') }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('new_record', pubtype='ArticleJournal') }}">{{ _('Journal Article') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Chapter') }}">{{ _('Chapter') }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('new_record', pubtype='Monograph') }}">{{ _('Book') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Collection') }}">{{ _('Collection') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Conference') }}">{{ _('Conference') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Series') }}">{{ _('Series') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Journal') }}">{{ _('Journal') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='InternetDocument') }}">{{ _('Internet Document') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Lecture') }}">{{ _('Lecture') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='Other') }}">{{ _('Other') }}</a></li>
                <li class="divider"></li>



            </ul>
        </li>
        <li class="divider"></li>

    </ul>
    <div class="navbar-right{% if header == query %} search_form_active{% endif %}">
        <form class="navbar-form" role="search" action="/search" method="get">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" id="typeahead" class="form-control" placeholder="Search" name="q">
                </div>
            </div>
            <button type="submit" class="btn btn-default">{{ _('Go') }}</button>
        </form>
    </div>
</nav>
{{ utils.flashed_messages(container=false) }}