{% import 'bootstrap/utils.html' as utils %}
<nav role="navigation" class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li{% if header == 'Project Description' %} class="active"{% endif %}><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="divider"></li>
        {% if current_user.role == 'admin' %}
        <li{% if header == 'Dashboard' %} class="active"{% endif %}><a href="/records"><i class="fa fa-list"></i> Dashboard</a></li>
        <li class="divider"></li>
        <li class="dropdown{% if header == 'New Record' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i> {{ _('New') }}</a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('new_record', pubtype='manuscript') }}">{{ _('Manuscript') }}</a></li>
                <li><a href="{{ url_for('new_record', pubtype='print') }}">{{ _('Print') }}</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        {% endif %}
    </ul>
    <div class="navbar-right{% if header == query %} search_form_active{% endif %}">
        <form class="navbar-form" role="search" action="/search" method="get">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Go</button>
        </form>
    </div>
</nav>
{{ utils.flashed_messages(container=false) }}