{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-sm-offset-2">
                <form class="form form-horizontal" method="post" role="form" action="{{ url_for('new', record_id=form.id) }}">
                    {{ form.csrf_token }}
                    <fieldset>
                        {% include 'form_components/type.html' %}
                        {% include 'form_components/genre.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/title.html' %}
                        {% include 'form_components/incipit.html' %}
                        {% include 'form_components/explicit.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/frontispiece.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/vignette.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/person_birth_death.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/issued.html' %}
                        {% include 'form_components/circa.html' %}
                        {% include 'form_components/language.html' %}
                        {% include 'form_components/number_of_pages.html' %}
                        {% include 'form_components/number_of_lines.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/keyword.html' %}
                        {% include 'form_components/description.html' %}
                        {% include 'form_components/origin_place.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/printing_place.html' %}
                        {% include 'form_components/printing_patent.html' %}
                        {% include 'form_components/printers_mark.html' %}
                        <hr>
                    </fieldset>
                    <fieldset>
                        {% include 'form_components/library.html' %}
                        {% include 'form_components/library_place.html' %}
                        {% include 'form_components/call_number.html' %}
                        {% include 'form_components/URL.html' %}
                        {% include 'form_components/accessed.html' %}
                        {% include 'form_components/provenance.html' %}
                        <hr>
                    </fieldset>
                    {% include 'form_components/note.html' %}
                    <div class="form-group">
                        <div class="col-sm-6 pull-right">
                            <button type="reset" class="btn btn-danger">Clear</button>
                            <button type="submit" class="btn btn-primary submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).on('click', '.add-element', function (event) {
            event.preventDefault();
            var next = $(this).closest('.form-group').clone().insertAfter($(this).closest('.form-group'));
            //next.attr('class', 'form-group');
            next.find('input').val('');
            $(this).remove();
        })
        /*$(document).on('click', '.submit', function(event){
         event.preventDefault();
         console.info(JSON.stringify($(this).closest('form').serializeArray()));
         })*/
    </script>
{% endblock %}