{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <table class="table">
                {#<thead><tr>
                    <td><a href="/records" class="btn btn-default"><i class="fa fa-refresh"></i> Refresh</a></td>
                    <td>
                        <form class="form-inline" action="/search" method="get">
                            <div class="form-group form-group-lg">
                                <div class="input-group col-sm-12">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input type="search" class="form-control" placeholder="Search" name="q">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Go</button>
                        </form>
                    </td>
                    <td><a href="/new" class="btn btn-primary"><i class="fa fa-plus"></i> Add record</a></td>
                </tr></thead>#}
                {% for record in records.hits %}
                    <tr>
                        <th scope="row" class="record_count">{{ loop.index }}</th>
                        <td><a href="/record/{{ record._source.id }}">{{ record._source.title }}</a><br/>
                        {% for author in record._source.author %}{{ author.literal }}{% endfor %}, {% if record._source.circa == 'y' %}ca. {% endif %}{% if record._source.issued %}{{ record._source.issued.values()|list()|first|first }}{% endif %}</td>
                        <td class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="action{{ loop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog"></i> Action <span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="action{{ loop.index }}">
                                <li><a href="/record/{{ record._source.id }}"><i class="fa fa-eye"></i> View</a></li>
                                <li><a href="/edit/{{ record._source.id }}"><i class="fa fa-pencil"></i> Edit</a></li>
                                <li class="bg-danger"><a href="/delete/{{ record._source.id }}"><i class="fa fa-trash"></i> Delete</a></li>
                                <li class="divider" role="separator"></li>
                                <li class="dropdown-header"><i class="fa fa-plus"></i> Add</li>
                                <li><a href="/new/{{ record._source.id }}/article-journal">Journal Article</a></li>
                                <li><a href="/new/{{ record._source.id }}/article-newspaper">Newspaper Article</a></li>
                                <li><a href="/new/{{ record._source.id }}/book">Book</a></li>
                                <li><a href="/new/{{ record._source.id }}/chapter">Chapter</a></li>
                                <li><a href="/new/{{ record._source.id }}/collection">Collection</a></li>
                                <li><a href="/new/{{ record._source.id }}/edition">Edition</a></li>
                                <li><a href="/new/{{ record._source.id }}/translation">Translation</a></li>
                                <li><a href="/new/{{ record._source.id }}/journal">Journal</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% include 'footer.html' %}
    </div>
{% endblock %}