{% extends 'site_base.html' %}
{% block modal %}{% include 'confirm_delete_modal.html' %}{% endblock %}
{% block site_content %}
    {{ super() }}
    <div class="row">
        <div class="col-sm-10">
        {{ record.data }}
        <dl class="dl-horizontal">
            {% if record.data.title_translated %}
                <dt>
                    {% trans count=record.data.title_translated|length %}
                    Translated Title
                    {% pluralize %}
                    Translated Titles
                    {% endtrans %}
                </dt>
                <dd>
                    {% for title in record.data.title_translated %}
                        {{ title.translated_title }} ({{ title.language }})<br/>
                    {% endfor %}
                </dd>
            {% endif %}
            {% if record.person %}
                <dt>
                    {% trans count=record.data.person|length %}
                    Person
                    {% pluralize %}
                    Persons
                    {% endtrans %}
                </dt>
                <dd>
                    {% for person in record.data.person %}
                        {{ person.name }} ({{ person.birth_date }}-{{ person.death_date }}){% if person.viaf %} | <a href="http://viaf.org/{{ person.viaf }}">{{ _('VIAF') }}</a>{% endif %}<br/>
                    {% endfor %}
                </dd>
            {% endif %}
        </dl>
        </div>
        <div class="col-sm-2">
            {% if current_user.role == 'admin' or current_user.name == record.owner %}<div class="btn-group" role="group" aria-label="action-group">
                <a href="/update/{{ pubtype }}/{{ record_id }}" class="btn btn-default"><i class="fa fa-pencil"></i> {{ _('Edit') }}</a>
                <a href="#" data-href="{% if pubtype == 'person' %}{{ url_for('delete_person', person_id=record.id.data) }}{% elif pubtype == 'organisation' %}{{ url_for('delete_orga', orga_id=record.id.data) }}{% else %}{{ url_for('delete_record', record_id=record.id) }}{% endif %}" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash"></i> {{ _('Delete') }}</a>
                {#<label for="apparent_dup">{{ _('Apparent Duplicate') }}</label>
                <input type="checkbox" id="apparent_dup" name="apparent_dup">#}
            </div>{% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
{#            "@type": (% if record.data.pubtype == 'Codex" or record.data.pubtype == 'Print' or record.data.pubtype == 'Monograph' or record.data.pubtype == 'Collection' or record.data.pubtype == 'Conference' %}"Book"{% else %}"CreativeWork"{% endif %},#}
            "@type": "book",
            "headline": "{{ record.data.title }}",
        }
    </script>
    <script>
        function page_redirect(){
            setTimeout(function(){
                            document.location = '/{{ del_redirect }}';
                        }, 1000);
        }
        $('#confirm-delete').on('show.bs.modal', function(event) {
            $(this).find('.btn-ok').attr('href', $(event.relatedTarget).data('href'));
        });
        $(document).on('click', '.btn-ok', function(event){
            event.preventDefault();
            //var confirm_btn = $('.btn-ok');
            //console.log($('.btn-ok').attr('href'));
            $.get($('.btn-ok').attr('href'), function(data){
                //console.log(data);
                if(data.deleted == true){
                    page_redirect();
                }
            });
            //document.location.reload(true);
        });
        /*$(document).on('change', '#apparent_dup', function(event){
            var dup = false;
            if($(this).is(':checked')){
                dup = true;
            }
            console.log(dup);
            $.post('/apparent_duplicate', {'id': '{{ record_id }}', 'apparent_dup': dup});
        })*/
    </script>
{% endblock %}