{% if filterquery %}
    <h4>
    {% trans count=filterquery|length %}
        Active Filter
    {% pluralize %}
        Active Filters
    {% endtrans %}
    </h4>
    <ul class="list-unstyled">
    {% for filter in filterquery %}
        {% set filterloop = loop %}
         <li><a href="/{{ target }}?q={{ query|urlencode }}{% for fq in filterquery %}{% if filterloop.index != loop.index %}&amp;filter={{ fq }}{% endif %}{% endfor %}" class="btn btn-info btn-xs"><i class="fa fa-times"></i> {{ filter }}</a></li>
    {% endfor %}
    </ul>
{% endif %}