{% if filterquery %}
    <ul class="list-inline">
    <li><b>
        {% trans count=filterquery|length %}
            Remove Filter
        {% pluralize %}
            Remove Filters
        {% endtrans %}
    </b></li>
    {% for filter in filterquery %}
        {% set filterloop = loop %}
         <li><a href="/{{ target }}?q={{ query|urlencode }}{% for fq in filterquery %}{% if filterloop.index != loop.index %}&amp;filter={{ fq }}{% endif %}{% endfor %}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {{ filter }}</a></li>
    {% endfor %}
    </ul>
{% endif %}