{% macro render_field(field) %}
    {% if field.type != 'CSRFTokenField' %}
        {% include 'single_field.html' %}
    {% endif %}
{% endmacro %}

{% macro render_multi_field(multifield) %}
{% if multifield[0] %}
    {% if multifield[0].type == 'FormField' %}
    <div id="{{ multifield[0].name }}_container" class="multi_enclosure">
        <h3>
            <div class="col-sm-2 control-label">{{ multifield[0].name|capitalize|rem_form_count|replace('_', ' ') }}</div>
            <div class="col-sm-6" style="margin: 0 0 8px -10px;"><a class="btn btn-sm btn-default add" href="#"><i class="fa fa-plus"></i> {{_('Add another')}}</a></div>
        </h3>
        <div class="col-sm-4">&nbsp;</div>
        <div class="clearfix"></div>
        {% for enclosure in multifield %}
            {% for subfield in enclosure %}
                {% if subfield.type != 'CSRFTokenField' %}
                    <div class="form-group">
                    {% if current_user.role != 'admin' %}
                        {% if subfield.name|last_split not in form.admin_only %}
    {#                        <div class="col-sm-2 control-label" id="{{ subfield.name }}">{{ subfield.label }}</div>#}
                            <div class="col-sm-2 control-label">&nbsp;</div>
                            {% if subfield.type != 'BooleanField' %}
                                <div class="col-sm-6"><span class="subfield_label">{{ subfield.label }}</span><br/>{{ subfield(class='form-control') }}</div>
                            {% else %}
                                <div class="col-sm-6">{{ subfield(class='checkbox') }}</div>
                            {% endif %}
                            {% if subfield.description %}<div class="clearfix"></div><div class="col-sm-offset-2"><p class="help-block">{{ subfield.description }}</p></div>{% endif %}
                            <div class="col-sm-4">&nbsp;</div>
    {#                        <div class="clearfix"></div>#}
                        {% endif %}
                    {% else %}
                        {% if subfield.name not in form.user_only %}
    {#                        <div class="col-sm-2 control-label" id="{{ subfield.name }}">{{ subfield.label }}</div>#}
                            <div class="col-sm-2 control-label">&nbsp;</div>
                            {% if subfield.type != 'BooleanField' %}
                                <div class="col-sm-6"><span class="subfield_label">{{ subfield.label }}</span><br/>{{ subfield(class='form-control') }}</div>
                            {% else %}
                                <div class="col-sm-6">{{ subfield(class='checkbox') }}</div>
                            {% endif %}
                            {% if subfield.description %}<div class="clearfix"></div><div class="col-sm-offset-2"><p class="help-block">{{ subfield.description }}</p></div>{% endif %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {#<div class="col-sm-offset-2" style="margin-top: 8px;">
                <span style="margin-left:15px;text-transform:uppercase;"><a class="btn btn-sm btn-default" href="#" data-field="{{ multifield[0].name }}"><i class="fa fa-plus"></i> {{_('Add another')}}</a></span>
            </div>#}
        {% endfor %}
        <hr/>
    </div>
    {% else %}
        {% for entry in multifield.entries %}<div class="form-group" id="{{ entry.name }}_container">
{#            <div class="col-sm-2 control-label" id="{{ multifield.name }}">{{ multifield.label }}</div>#}
            <div class="col-sm-2 control-label">{{ entry.label }}</div>
            <div class="col-sm-6">{% if entry.flags.required %}{{ entry(class='form-control',required='required') }}{% else %}{{ entry(class='form-control') }}{% endif %}</div>
            <div class="col-sm-1">
                {% if loop.last %}
                    <a class="btn btn-sm btn-default add-atomic" href="#"><i class="fa fa-plus"></i> {{_('Add another')}}</a>
                {% else %}
                    <a class="btn btn-sm btn-danger remove" href="#"><i class="fa fa-trash"></i> {{_('Remove this')}}</a>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </div>{% endfor %}
    {% endif %}
    {% endif %}
{% endmacro %}