{% extends 'site_base.html' %}
{% import 'drill_down.html' as drill_down with context %}
{% block site_content %}
    {{ super() }}
    <div class="row">
        <div class="col-sm-4" id="facets">
            {{ drill_down.facets(facet_data.fperson, 'fperson', heading='Person') }}
            {{ drill_down.facets(facet_data.fdate, 'fdate', heading='Publication Date') }}
            {{ drill_down.facets(facet_data.language, 'language', heading='Language') }}
        </div>
        <div class="col-sm-8">
            {{ pagination.info }}
            {% include 'remove_filters.html' %}
            {{ pagination.links }}
            {% include 'record_list.html' %}
            {{ pagination.links }}
        </div>
    </div>
{% endblock %}