{% extends 'site_base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}"/>
{% endblock %}
{% block site_content %}
    {{ super() }}
    <div class="row">
        <div class="col-sm-4" id="facets">
            {% include 'remove_filters.html' %}
            {% include 'hoe_facets.html' %}
        </div>
        <div class="col-sm-8">
            <h4>{{ pagination.info }}</h4>
            {{ pagination.links }}
            {% include 'record_list.html' %}
            {{ pagination.links }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).on('click', '.rel_item', function(event){
            event.preventDefault();
            $(this).siblings('.hidden').toggleClass('hidden show_ri');
            $(this).replaceWith('<a href="#" class="no_rel_item"><i class="fa fa-minus-square-o"></i> {{ _("Hide Related Items") }}</a>');
        });
        $(document).on('click', '.no_rel_item', function(event){
            event.preventDefault();
            $(this).siblings('.show_ri').toggleClass('hidden show_ri');
            $(this).replaceWith('<a href="#" class="rel_item"><i class="fa fa-plus-square-o"></i> {{ _("Show Related Items") }}</a>');
        });
    </script>
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <script>
        var map = L.map('map').setView([48.7, 20.2], 3);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'ahagenbruch.p072ck6j',
            accessToken: 'pk.eyJ1IjoiYWhhZ2VuYnJ1Y2giLCJhIjoiY2lqdnY1cHB2MGMxMnc4bTNnczkxNW1kNCJ9.kfslXFi1i7n_xPCXQ5lsHA'
        }).addTo(map);
        {% for lib_facet in libraries %}
            {% if lib_facet.library.latitude and lib_facet.library.longitude %}
            L.marker([{{ lib_facet.library.latitude }}, {{ lib_facet.library.longitude }}]).addTo(map)
            .bindPopup('<a href="{{ lib_facet.library.uri }}">{{ lib_facet.library.label }}</a>.<br><a href="/search?q={{ query|urlencode }}&amp;filter=flibrary:%22{{ lib_facet.library.label|urlencode }}%22{% if filterquery %}{% for fq in filterquery %}&amp;filter={{ fq }}{% endfor %}{% endif %}{% if mysort %}&amp;sort={{ mysort }}{% endif %}">{{ _("Show all %(count)s records", count=flibraries.get(lib_facet.library.label)) }}</a>');
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}