{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        <div class="row">
            <ul class="list-unstyled">
                {% for record in records.hits %}
                    <li class="record clearfix">
                        <div class="col-sm-1"><span class="record_count pull-right">{{ loop.index }}</span></div>
                        <div class="col-sm-11">
                            <a href="/record/{{ record._source.id }}">{{ record._source.title }}</a><br/>
                            {% for author in record._source.author %}{{ author.literal }}{% endfor %}, {% if record._source.circa == 'y' %}ca. {% endif %}{{ record._source.issued.values()|list()|first|first }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% include 'footer.html' %}
    </div>
{% endblock %}