<div class="form-group" id="{{ field.name }}">
    {% if field.flags.required %}
        {{ field.label(class='col-sm-2 control-label required') }}
    {% else %}
        {{ field.label(class='col-sm-2 control-label') }}
    {% endif %}
    <div class="col-sm-6">
        {% if field.errors %}
            <ul class="alert alert-danger list-unstyled">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if field.flags.required %}
            {{ field(class='form-control',required='required') }}
        {% elif field.type == 'BooleanField' %}
            {{ field(class='checkbox') }}
        {% else %}
            {{ field(class='form-control') }}
        {% endif %}
        {% if field.description %}<div class="clearfix"></div><p class="help-block" style="margin-top: 8px;">{{ field.description }}</p>{% endif %}
    </div>
</div>