{% extends 'bootstrap/base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='octicons/octicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site/css/rub.css') }}">
{% endblock %}
{% block content %}
    {% block modal %}{% endblock %}
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
        {% block site_content %}{% endblock %}
        {% include 'footer.html' %}
    </div>
{% endblock %}
